footer
  .container-footer
    .box_dreamshere
      | DREAMSHARE
    ul.company
      li.company1 Company
      li.compani-list About
      li.compani-list Contact
      li.compani-list Press
      li.compani-list Blog
      li.compani-list Terms and Privacy
      li.compani-list Help
    .partners Partners
    .dising
      .dising__text DESIGNED BY
      img.dising__img(src='./img/Bitmap.png', alt='')
