header
  .container-header
    .logotape
      .logo DREAMSHARE
      .exit
        .log Log in
        .sin Sign up
    .header__title
      | SHARE YOUR
      | HOLIDAY DREAM
    .header__text And find the perfect partner to fullfill it
    .header__bootom Find your holiday partner
